<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Automated Greenhouse Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css"/>
    <link rel="icon" type="image/png" href="/static/images/">
  </head>
  <body>
<div class="container">
<div class="row">
<h1>Automated Greenhouse System</h1>



  <form class="grid" action="/choice" method="POST">

<div class="six columns">
<fieldset>
  <h5>Outdoor Plants</h5>
  <label for="regularRadio">
    <input type="radio" id="regularRadio" name="plantchoice" value="tomatoes outdoors">
    <span>Tomatoes</span>
  </label>
<label for="secondRadio">
    <input type="radio" id="secondRadio" name="plantchoice" value="sunflowers outdoors">
    <span>Sunflowers</span>
  </label>
  <label for="thirdRadio">
    <input type="radio" id="thirdRadio" name="plantchoice" value="strawberries outdoors">
    <span>Strawberries</span>
  </label>
  </fieldset>
</div>

<div class="six columns">
<fieldset>
  <h5>Indoor Plants</h5>
  <label for="regularRadio">
    <input type="radio" id="regularRadio" name="plantchoice" value="tomatoes indoors">
    <span>Tomatoes</span>
  </label>
<label for="secondRadio">
    <input type="radio" id="secondRadio" name="plantchoice" value="sunflowers indoors">
    <span>Sunflowers</span>
  </label>
  <label for="thirdRadio">
    <input type="radio" id="thirdRadio" name="plantchoice" value="strawberries indoors">
    <span>Strawberries</span>
  </label>
  </fieldset>
</div>
	<div class="one-third column">&nbsp;</div>
          <input class="two-thirds column" style="background-color:#90EE90 " type="Submit">
	<div class="one-third column">&nbsp;</div>


        </form>
</div>
</div>


</body>
</html>
